<a href="./records/new">Create</a>
<ul>
{{#each records}}
  <li>
    {{this.name}}
    {{this.date}}
    {{this.category}}
    {{this.amount}}
    {{this.totalAmount}}
    <a href="./records/{{this._id}}/edit">編輯</a>
  </li>
{{/each}}
</ul>