<a href="./expenses/new">Create</a>
<ul>
{{#each expenses}}
  <li>
    {{this.name}}
    {{this.date}}
    {{this.category}}
    {{this.amount}}
    {{this.totalAmount}}
    <a href="./expenses/{{this._id}}/edit">編輯</a>
  </li>
{{/each}}
</ul>